/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Set variables */

:root {
  --font-code: Monaco, monospace;
  --font-text: 'Josefin Sans', sans-serif;

  --white: white;
  --off-white: #F9F8F8;
  --purple-dark: #2c2a4a;
  --purple-light: #4f518c;
  --blurple: #6272a4;

  --text-color: var(--purple-dark);

  --color-dot-exit: #ff928b;
  --color-dot-minimize: #efe9ae;
  --color-dot-full: #9CDE9F;

  --color-code-library: #dc6eb0;
  --color-code-string: #ffed66;
  --color-code-parentheses: #ed90a4;
  --color-code-line-number: #aba8b2;
  --color-code-comment: var(--blurple);
}

/* Fonts */

body {
  color: var(--white);
  font-family: var(--font-code);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text {
  color: var(--text-color);
}

/* Setup computer and screen */

.computer {
  max-width: 1400px;
  min-height: 1100px;
  background-color: var(--purple-dark);
  border-radius: 50px;
  margin: auto;
  display: flex;
}

.computer-screen {
  width: calc(100% - 50px);
  min-height: 1000px;
  background-color: var(--blurple);
  margin: auto;
}

.computer-toolbar {
  width: 100%;
  height: 50px;
  background-color: var(--purple-light);
  display: flex;
  align-items: center;
  font-family: var(--font-text);
}

/* Column layout */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
}

.width-third {
  width: 33%;
}

.width-half {
  width: 50%;
}

/* Window panes */

.window {
  border-radius: 20px;
  border: 5px solid;
  border-top: 30px solid;
  background-color: var(--purple-dark);
  word-wrap: break-word;
  margin-bottom: 10px;
  position: relative;
}

.dot {
  position: absolute;
  top: -22.5px;
  left: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  border: 1px solid;
}

.exit {
  background-color: var(--color-dot-exit);
}

.minimize {
  background-color: var(--color-dot-minimize);
  left: 30px;
}

.full {
  background-color: var(--color-dot-full);
  left: 50px;
}

.window-title {
  position: absolute;
  top: -22.5px;
  display: inline-block;
  right: 0%;
  margin-right: 10px;
}

/* RStudio */

.rstudio {
  border-color: var(--purple-light);
  background-color: var(--purple-dark);
}

.rstudio .dot:hover {
  border-color: var(--purple-light);
}

.rstudio a {
  text-decoration: underline;
}

.source {
  display: flex;
  margin: 20px;
  cursor: text;
}

.string {
  color: var(--color-code-string);
}

.library {
  color: var(--color-code-library);
}

.parentheses {
  color: var(--color-code-parentheses);
}

.line-number {
  color: var(--color-code-line-number);
}

.comment, .comment > a {
  color: var(--color-code-comment);
}

.rstudio-content {
  padding-left: 22px;
  text-indent: -22px;
}

/* Browser */

.browser {
  border-color: var(--purple-dark);
  background-color: var(--off-white);
}

.browser .dot:hover {
  border-color: var(--purple-dark);
}

.tablink {  
  position: absolute;
  top: -25px;
  height: 27px;
  width: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--purple-light);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-code);
}

.tablink:hover, .tablink.active:hover {
  background-color: var(--blurple);
  border-color: var(--blurple);
  text-decoration: underline;
}

.tablink.active {
  background-color: var(--purple-light);
}

.toolbar {
  width: 100%;
  height: 50px;
  background-color: var(--purple-light);
  display: flex;
  align-items: center;
}

.url-bar {
  background-color: var(--blurple);
  width: 95%;
  height: 35px;
  margin: auto;
  display: flex;
  align-items: center;
}

.url {
  padding-left: 10px;
}

.page {
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.browser a,
.browser a:visited {
  color: var(--white);
  text-decoration: none;
}

.browser a:hover {
  text-decoration: underline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .computer {
    width: 100vw;
  }
  
  .computer-screen {
    margin-top: 25px;
  }
  
  .column {
    width: 95% !important;
  }
  
  body {
    font-size: 12px;
  }
  
  h1 {
    font-size: 1.5em;
  }
}